body {
    margin: 0 auto;
}

.padre {
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    border-radius: 100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    transform: scale(0.8);
    background-color: rgba(128, 128, 128, 0.5);
    transition: all 0.5s ease-in-out;
}


.header:hover {
    transform: scale(1);
    background-color: rgba(128, 128, 128, 0.822);
}

.img {
    max-height: 5rem;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo {
    max-height: 4rem;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-right: 5rem;
}

a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: black;
}

.comun1 {
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 100%;
}

.comun2 {
    background-color: rgb(117, 117, 255);
    height: 500px;
    width: 100%;
}

.special {
    height: 1000px;
    width: 100%;
    background-color: white;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: "europa", sans-serif;
    background-image: url("./img/gif.gif");
}

.foto {
    background: white;
    border-style: solid;
    border-color: black;
}

.titulo {
    font-size: 50px;
}

.cuerpo {
    font-size: 25px;
}

#sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "europa", sans-serif;
    color: white;
}

#sobremi .titulo {
    font-size: 20px;
}

#sobremi .cuerpo {
    font-size: 20px;
    text-align: center;
}

#servicio {
    font-family: "europa", sans-serif;
    color: white;
    height: 1000px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.supp {
    width: 80%;
    display: grid;
    gap: 40px;
    align-items: center;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
}

#servicio .titulo {
    font-size: 20px;
    text-align: center;
}

#servicio .cuerpo {
    font-size: 20px;
    text-align: center;
}

.tamañoimg {
    width: 80%;
    height: 80%;
    object-fit: contain;
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}

.tamañoimg:hover {
    transform: rotate(360deg);
}

.general {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 85%;
    background-color: beige;
    border-radius: 20px;
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-family: "europa", sans-serif;
}

#contacto .cuerpo {
    font-size: 20px;
}

.orden {
    display: flex;
    flex-direction: row;
    gap: 20rem;
}

.icono {
    height: 50px;
    width: 50px;
    transition: filter 0.5s ease-in-out;
}

.icono:hover {
    filter: opacity(0.25) drop-shadow(0 0 0 rgb(117, 117, 255));
}

#galeria {
    font-family: "europa", sans-serif;
    color: rgb(117, 117, 255);
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#galeria .titulo {
    font-size: 20px;
    text-align: center;
}

#galeria .cuerpo {
    font-size: 20px;
    text-align: center;
}
.grid{
    place-self: center;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.prueba{
    height: 80%;
    width: 80%;
}
.captura{
    height: 100%;
    width: 100%;
    object-fit: contain;
}



.form {
    width: 80%;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4vh;
}


.form_form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.form_title h1 {
    color: rgb(0, 0, 0);
    font-size: 3vw;
}

input {
    font-size: 15px;
}


.form__label {
    color: white;
    margin-bottom: 5px;
}

.form__input {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(64, 62, 62, 0.144);
    color: rgb(0, 0, 0);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    height: 25px;
}

.form__input:hover {
    border-color: #954040;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.form__input--message {
    height: 75px;

}

.form__p {
    color: rgb(141, 140, 140);
    font-size: 17px;
    text-align: start;
    margin-left: 0px;
}

.boton {
    width: 15%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    font-weight: 800;

}

.boton:hover {
    background-color: #3562f7;
}
