<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
<div class="padre">

    <section class="header">
        <nav class="img">
            <a href="#inicio">
                <img class="logo" src="img/logo.png" alt="logo">
            </a>
        </nav>

        <nav class="menu">
            <a href="#sobremi">
                <h1>Sobre mi</h1>
            </a>
            <a href="#galeria">
                <h1>Galeria</h1>
            </a>
            <a href="#servicio">
                <h1>Servicio</h1>
            </a>
            <a href="#contacto">
                <h1>Contacto</h1>
            </a>
        </nav>
    </section>

    <section id="inicio" class="special">
        <div class="titulo">
            <h2 th:text="${personal.get(0).getPuesto()}"></h2>
        </div>
        <div class="cuerpo">
            <p>Diseño y codifico cosas simples y amo lo que hago</p>
        </div>
        <div class="foto">
            <img th:src="${personal.get(0).getImg()}" alt="foto">
        </div>

    </section>

    <section id="sobremi" class="comun2">
        <div class="titulo">
            <h3>Hola, me llamo <span th:text="${personal.get(0).getNombre()}"></span>. Encantado de conocerte.</h3>
        </div>
        <div class="cuerpo">
            <p th:text="${personal.get(0).getDescripcion()}"> </p>
        </div>
    </section>

    <section id="galeria" class="comun1">
        <div class="titulo">
            <h3>GALERIA</h3>
        </div>
        <div class="cuerpo">
            Lo que vas a ver a continuación va a ser algunos ejemplos de los proyectos que he realizado:
        </div>
        <div class="grid">
            <div class="prueba" th:each="proyectos:${proyecto}">
                <img class="captura" th:src="${proyectos.getUrlP()}" alt="ejemplo1">
            </div>
        </div>
    </section>

    <section id="servicio" class="comun2">
        <div class="titulo">
            <h3>SERVICIOS</h3>
        </div>
        <div class="cuerpo">
            <p>A continuación se mostrará los lenguajes con los que domino, y puedo ejercer como desarrollador o
                cualquier servicio en el que se necesite:</p>
        </div>
        <div class="supp">
            <div class="general" th:each="lenguajes:${lenguaje}">
                <img class="tamañoimg" th:src="${lenguajes.getUrl()}" alt="java">
            </div>
        </div>

    </section>

    <section id="contacto" class="comun1" style="height: 1000px;">

        <div class="form">

            <div class="form_title">
                <h1>CONTÁCTAME</h1>
            </div>

                    <form class="form_form">
                        <label for="Nombre" class="form__label"></label>
                        <input type="text" id="Nombre" name="Nombre" class="form__input" placeholder="Nombre*" required />
                        <br>

                        <label for="Email" class="form__label"></label>
                        <input type="email" id="Email" name="Email" class="form__input" placeholder="Email*" required />
                        <br>

                        <label for="Mensaje" class="form__label"></label>
                        <input type="text" id="Mensaje" name="Mensaje" class="form__input form__input--message"
                               placeholder="Mensaje..." />

                        <p class="form__p">(*) Campo obligatorio</p>
                        <br>

                        <button class="boton" type="submit">Enviar</button>


                    </form>
        </div>

        <nav class="orden">
            <a th:href="${contacto.get(0).getCorreo()}">
                <img class="icono" th:src="${contacto.get(0).getImgcorreo()}" alt="correo electronico">
            </a>
            <a th:href="${contacto.get(0).getLinkedin()}">
                <img class="icono" th:src="${contacto.get(0).getImglinkedin()}" alt="linkedin">
            </a>
            <a th:href="${contacto.get(0).getInsta()}">
                <img class="icono" th:src="${contacto.get(0).getImginsta()}" alt="instagram">
            </a>
        </nav>
        <div class="cuerpo">
            <h6>Copyright © 2023 <span th:text="${personal.get(0).getNombre()}"></span></h6>
        </div>
    </section>
</div>

</body>

</html>